body{
	background-image: url(img/startpagina.jpg);
	background-size: cover;
	margin: 0 auto;
	width: 1200px;
}
#game-buttons{
	margin: 20px 0;
}
button{
	border: none;
	padding: 15px 30px;
}
button:hover{
	opacity: 75%;
}
#inventoryItem{
	display: none;
}
#description{
	font-size: 20px;
	background-color: white;	
}
#title{
	font-size: 40px;
	background-color: white;
}